.Menu {
  position: relative;
  cursor: pointer;
}

.Menu-text {
}

.Menu-img {
}

.Menu-drawer {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.Menu-item {
}

.hidden {
  display: none;
}
