.WeatherForecast {
  background-color: hotpink;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.WeatherForecast-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.ConditionReport {
  background-color: chartreuse;
}

.ConditionReport-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ConditionReport-hilo-card div {
  font-weight: 700;
  margin: 8px;
}

.ConditionReport-delta-card div {
  font-weight: 100;
  margin: 8px;
}
