.TopMenu {
  background-color: red;
}

.TopMenu-text {
  background-color: orange;
}

.TopMenu-img {
  background-color: yellow;
}

.TopMenu-drawer {
  background-color: green;
}

.TopMenu-item {
  background-color: blue;
}
