.TopMenu {
  background-color: white;
  border-radius: 8px;
  border: 1px solid black;
}

.TopMenu-img {
  margin: 8px;
}

.TopMenu-text {
  margin: 8px;
}

.TopMenu-drawer {
  background-color: white;
  border: 1px solid black;
}

.TopMenu-item {
  padding: 8px;
  border: 1px solid white;
}

.TopMenu-item:hover {
  border: 1px solid black;
}
