.MainMenu {
  background-color: white;
  border-radius: 8px;
  border: 1px solid black;
}

.MainMenu-img {
  margin: 8px;
}

.MainMenu-text {
  margin: 8px;
}

.MainMenu-drawer {
  background-color: white;
  border: 1px solid black;
}

.MainMenu-item {
  padding: 8px;
  border: 1px solid white;
}

.MainMenu-item:hover {
  border: 1px solid black;
}
